<h1 class="mb-4">NUEVO USUARIO</h1>

<form [formGroup]="form" (ngSubmit)="submit()" class="form-mock">
  <div class="mb-4">
    <label class="form-label mock-label">Nombre Usuario</label>
    <input type="text" class="form-control mock-input" formControlName="name"
           placeholder="Introduzca nombre de usuario">
    <small class="text-danger" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">Requerido</small>
  </div>

  <div class="mb-4">
    <label class="form-label mock-label">Apellido Usuario</label>
    <input type="text" class="form-control mock-input" formControlName="lastname"
           placeholder="Introduzca apellido de usuario">
    <small class="text-danger" *ngIf="form.get('lastname')?.touched && form.get('lastname')?.invalid">Requerido</small>
  </div>

  <div class="mb-4">
    <label class="form-label mock-label">Email Usuario</label>
    <input type="email" class="form-control mock-input" formControlName="email"
           placeholder="introduzca email de usuario">
    <small class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      Email válido requerido
    </small>
  </div>

  <div class="mb-4">
    <label class="form-label mock-label">Imagen Usuario</label>
    <input type="text" class="form-control mock-input" formControlName="image"
           placeholder="Introduzca url de foto usuario">
    <small class="text-danger" *ngIf="form.get('image')?.touched && form.get('image')?.invalid">
      Requerido (URL de imagen)
    </small>
  </div>

  <button class="btn btn-outline-dark px-4" type="submit">Guardar</button>
</form>
